---

---

<section
    id="about"
    aria-labelledby="about-title"
    class="w-full max-w-5xl mx-auto px-6 md:px-4 py-22 md:py-30"
>
    <div class="flex items-center justify-center">
        <h2 id="about-title" class="text-5xl font-semibold text-white py-4">
            Nosotros
        </h2>
    </div>
    <p
        class="text-2xl text-[#D0D0D4] mb-10 text-center font-regular text-balance max-w-3xl mx-auto"
    >
        <span class="font-bold text-white text-2xl"
            >Somos BunnyWeb, donde la creatividad salta más alto.</span
        >
        <br />
        Nos apasiona construir espacios digitales que conecten, vendan y crezcan
        contigo. Ya sea que necesites una <span
            class="font-bold text-[#00FFC4]">landing page llamativa</span
        > o un <span class="font-bold text-[#00FFC4]">e-commerce poderoso</span
        >, estamos aquí para hacerlo realidad con diseño moderno, buen gusto y un
        toque de magia digital.
    </p>
</section>
