---
import ArrowDown from "../components/icons/ArrowDown.astro";
import HeroAnimation from "./HeroAnimation.jsx";
---

<div id="hero" class="flex min-h-screen bg-[#0d0f19] items-center">
    <div
        class="flex flex-col items-center justify-center flex-1 h-full bg-gradient-to-b from-[#0d0f19] via-[#16222F] to-[#0d0f19] pt-12 md:mt-0"
    >
        <div class="flex flex-col items-center justify-center flex-1 h-full">
            <HeroAnimation client:load />

            <ArrowDown alt="Arrow" class="w-20 h-20 mt-8" href="#Services" />
        </div>
    </div>
</div>
